In [ ]:
import pandas

In [2]:
import geopy

In [3]:
df1 = pandas.read_json("http://pythonhow.com/supermarkets.json")

In [4]:
df2 = df1.set_index("ID")

In [5]:
df2

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [6]:
df2["Address"] = df2["Address"] + ", " + df2["City"] + ", " + df2["State"]

In [7]:
df2

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,"3666 21st St, San Francisco, CA 94114",San Francisco,USA,8,Madeira,CA 94114
2,"735 Dolores St, San Francisco, CA 94119",San Francisco,USA,15,Bready Shop,CA 94119
3,"332 Hill St, San Francisco, California 94114",San Francisco,USA,25,Super River,California 94114
4,"3995 23rd St, San Francisco, CA 94114",San Francisco,USA,10,Ben's Shop,CA 94114
5,"1056 Sanchez St, San Francisco, California",San Francisco,USA,12,Sanchez,California
6,"551 Alvarado St, San Francisco, CA 94114",San Francisco,USA,20,Richvalley,CA 94114

In [8]:
from geopy.geocoders import Nominatim

In [9]:
nom = Nominatim()

/srv/conda/lib/python3.6/site-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

In [10]:
df2["Coordinates"] = df2["Address"].apply(nom.geocode)

In [11]:
df2

,Address,City,Country,Employees,Name,State,Coordinates
ID,,,,,,,
1,"3666 21st St, San Francisco, CA 94114",San Francisco,USA,8,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California..."
2,"735 Dolores St, San Francisco, CA 94119",San Francisco,USA,15,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ..."
3,"332 Hill St, San Francisco, California 94114",San Francisco,USA,25,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,..."
4,"3995 23rd St, San Francisco, CA 94114",San Francisco,USA,10,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California..."
5,"1056 Sanchez St, San Francisco, California",San Francisco,USA,12,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
6,"551 Alvarado St, San Francisco, CA 94114",San Francisco,USA,20,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [12]:
df2["Latitude"] = df2["Coordinates"].apply(lambda x: x.latitude if x!=None else None)